<nav class="navbar navbar-expand-sm  sticky-top">
  <div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
     <a class="nav-link" routerLink=""><h4>E-Shop</h4></a>  
  </div>
  </div>
  </nav>

<div align="center">
<label><b>Card Payment</b></label>
<div class="card">
<div class="card-body">
  <label>Enter your Card details</label>
<form (submit)="orderpayment($event)">
  <table>
      <tr><td style="width: 750px"><input type="text" class="form-control" placeholder="Card Number" maxlength="16" id="cardnumber" required></td></tr>
      <tr><td><input type="text" class="form-control" placeholder="Name as on card" id="name" required></td></tr>  
    </table> 
      <table>
          <tr><td style="padding-left: 5px;font-size: 14px">Expires</td></tr>
      <tr><td><input type="month" style="padding: 5px;width: 250px;" class="form-control" placeholder="Expiries" id="expiry" required></td><td><input type="text" class="form-control" placeholder="CVV" maxlength="3" id="cvv"/></td></tr>
  </table>
  <div><label>Net Payable Amount:</label><label style="color:red"> Rs.{{total}}</label></div>
  <input type="submit" class="btn btn-primary" value="Proceed to Pay">
</form>

</div>
</div>
</div>
