<!--
<nav class="navbar navbar-expand-sm  sticky-top">
  <div class="container-fluid">
  <div class="navbar-header">
     <a class="nav-link" routerLink=""><h4>E-Shop</h4></a>  
  </div>
  </div>
  </nav>
  -->

<div align="center">
<label><b>Paytm</b></label>
<div class="card">
<div class="card-body">
<label>Enter your Paytm wallet details</label>
<form (submit)="orderpayment($event)">
  <input type="number" class="form-control" placeholder="Phone Number" id="phone" required>
  <input type="password" class="form-control" placeholder="Password" id="password" required>
  <div><label>Net Payable Amount:</label><label style="color:red"> Rs.{{total}}</label></div>
  <input type="submit" class="btn btn-primary" value="Login to Pay">
</form>

</div>
</div>
</div>
